.center-container {
    width: 1080px;
    height: 500px;
    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.center-container-title {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.1em;
}

.center-container-input {
    margin: 34px 0 10px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.center-container-input input {
    width: 300px;
    height: 35px;

    padding: 0 40px 0 36px;
    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: 3px;
}

.width100 {
    width: 210px !important;
}

.duplication-check-btn {
    width: 80px;
    height: 35px;
    margin-left: 10px;

    border: 2px solid #ff5f2e;
    border-radius: 8px;
    color: black;
    background: white;
}

.duplication-check-btn:hover {
    font-weight: 500;
    background-color: #ff5f2e;
    color: #e1eef6;
    letter-spacing: 0.03em;
}

.input-wrapper {
    position: relative;

    display: flex;
    align-items: center;
}

.img-login {
    height: 18px;
    width: auto;
    position: absolute;
    top: 9px;
    left: 8px;
}

.img-hidden {
    height: 18px;
    width: auto;
    position: absolute;
    top: 9px;
    right: 10px;
}

.img-hidden:hover {
    transform: scale(1.2); /* 이미지 크기를 약간 키우기 */
    filter: brightness(1.2); /* 이미지 밝기 약간 증가 */
}

.center-container-alert {
    margin-left: 33px;
    width: 400px;
    margin-top: 5px;
    font-size: 13px;
    color: red;
}

.valid-hidden {
    display: none;
}

.valid-true {
    border-color: #01A23C !important;
    background-color: rgba(1, 162, 60, 0.1);
}

.valid-false {
    border-color: red !important;
    background-color: rgba(255, 0, 0, 0.1);
}

.center-container-button {
    margin-top: 30px;
}

.center-container-button button {
    border: 1px solid rgba(0, 0, 0, .05);
    border-radius: 6px;
    margin: 5px;

    height: 34px;
    font-size: 14px;

    color: white;
    background-color: #ff5f2e;
}

.center-container-button button:hover {
    filter: brightness(1.2);
}

.login-button {
    width: 120px;
}

.login-button a {
    color: white;
}

.join-button {
    width: 300px;
}